body {
  background-image: url("images/light-red-rising-sun.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

header {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px outset #568370;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-size: 1.2em;
}

section {
  width: 55%;
  height: 50%;
  margin: 5px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px outset #555;
  font-size: 1.5em;
}

h2 {
  margin: 15px auto;
  text-decoration: underline;
}

p {
  margin-top: 5px;
  padding: 0 20px;
}

ol {
  margin: 5px auto;
  list-style-position: inside;
  width: 50%;
  text-align: left;
}

ol li {
  padding-bottom: 5px;
}

ul {
  margin: 5px auto;
  list-style-position: inside;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  text-align: center;
  padding: 0px;
}

ul li {
  display: inline;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  padding: 0px 3px;
}
