body {
  background-image: url("images/light-red-rising-sun.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 1050px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px outset #568370;
  font-size: 1.5em;
}

h1 {
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 5px auto;
  list-style-position: inside;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  text-align: center;
  padding: 0px;
}

ul li {
  display: inline;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  padding: 0px 3px;
}

ul a:hover {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

section {
  width: 1050px;
  margin: 5px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 10px outset #555;
  font-size: 1.5em;
}

h2 {
  margin: 10px auto 15px auto;
  text-decoration: underline;
}

p {
  margin-top: 5px;
  padding: 0 20px;
}

#note{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

div p:only-child {
  margin: 5px auto;
}

ol {
  margin: 5px auto;
  list-style-position: inside;
  width: 50%;
  text-align: left;
}

ol li {
  padding-bottom: 5px;
}

.left {
  text-align: left;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table :nth-child(2) :nth-child(2) {
  width: 200px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

td {
  height: 58px;
  /*width: 305px;*/

}
